* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.main_dashboard {
  background-color: #fff;
}

/* nav bar */
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 10vh;
  padding-inline: 10px;
}
.searchbar {
  background-color: #303030;
  border: 1px solid #9a9898;
  width: 350px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: flex-start;
  padding-inline: 10px;
  gap: 10px;
}
.searchbar:hover {
  border: 1px solid #e1e0e0;
}
.searchbar input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0%;
  width: 100%;
  color: white;
}
.searchbar svg {
  width: 15px;
}
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white !important;
}

.alert {
  padding: 5px;
  border-radius: 5px;
  background-color: #1c181d;
}
.alert svg {
  width: 20px;
  height: 20px;
}
.navright {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* right side of nav nar */
.davidcoll {
  color: rgb(219, 219, 219);
  padding: 5px;
  background-color: #1c181d;
  display: flex;
  border-radius: 8px;
  gap: 10px;
}
div.logo {
  background-image: url("https://crushingit.tech/hackathon-assets/shopify-icon-desktop.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  /* background: black; */
}
.davidcoll .namelogo {
  padding: 5px;
  border-radius: 6px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 900;
}
/* notification part */
main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2vh;
  flex-direction: column;
  margin-block: 20px;
}
.notification {
  width: 70%;
  padding: 10px;
  padding-inline: 12px;
  border-radius: 8px;
  background: var(--grey-grey-300, #1a1a1a);
  color: #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 3vh;
}
.notification button {
  padding: 6px 12px;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  font-size: 13px;
  margin-right: -30px;
}
.notification button:hover {
  background: #f2f2f2;
}
.notification > sub {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.notification > p {
  font-size: 13px;
}
.cancel {
  width: 20px;
  height: 20px;
}
.setupboard {
  width: 70%;
  color: #303030;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.progresscontainer {
  width: 100px;
  height: 5px;
  display: inline-block;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
}
.progresscontainer #progressvalue {
  background-color: #1a1a1a;
  display: block;
  height: 100%;
}

.setupboard .bar,
article {
  font-size: 12px;
}
.arrow {
  display: block;
  background-image: url("https://crushingit.tech/hackathon-assets/icon-arrow-down.svg");
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
}
.arrow.switch {
  background-image: url("https://crushingit.tech/hackathon-assets/icon-arrow-up.svg");
}
.setupboard > div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
  margin-bottom: 15px;
}
.innerbox.topboard {
  gap: 20px;
}
.innerbox article {
  width: 80%;
}
.setupboard > div > div > h3 {
  font-size: 16px;
}
/* sub boxes */

.circlebtn {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px dashed #303030;
  background-position: center;
  background-size: cover;
}
.circlebtn.add {
  animation: 1s change forwards;
}
@keyframes change {
  from {
    transform: rotate(-360deg);
    border: 2px dashed #303030;
  }
  to {
    background-image: url("https://crushingit.tech/hackathon-assets/icon-checkmark-circle.svg");
    background-color: #303030;
    border: 2px solid #303030;
  }
}
.circlebtn:hover {
  border: 2px solid #303030;
}
/* setup boxes section */
.box {
  width: 100%;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px;
}
.box > .boxcontent {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}
.box .customizeTheme {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 8px;
  color: white;
  margin-top: 20px;
}
.customizeTheme:hover {
  background: #242424;
}
.customizeTheme.custom {
  background-color: #f1f1f1;
  color: #000;
  border: none;
  box-shadow: none;
  padding: 5px 12px;
}
.customizeTheme.custom:hover {
  background-color: #b5b5b5;
}
/* box main div */
#mainbox {
  border-radius: 10px;
  padding: 10px;
}
/* boxes sub heading */
.innerbox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.innerbox h3 {
  font-size: 14px;
}
#subprocesses.switch {
  display: none;
}
.innerbox a,
article {
  font-size: 12px;
}
.innerbox a {
  text-decoration: none;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: rgb(27, 125, 223);
}
.box > img {
  width: 120px;
}

.subinner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  display: none;
}
/* alert box */
.alertbox {
  position: absolute;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  width: 400px;
  right: 20;
  top: 80;
  display: none;
  margin: 10px;
}
.alertbox > div {
  display: flex;
  flex-direction: column;
}
.alertbox > div > div {
  display: flex;
  justify-content: space-between;
}
/* rushing */
.b {
  display: flex;
  align-items: center;
  height: 40px;
  width: 5%;
}
.subone {
  padding: 10px;
  align-items: center;
  gap: 8px;
  border-top: 20px;
  background: var(--states-hover, #f1f1f1);
}
.sub {
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.alertbox.show {
  display: flex;
}
.allnotifications {
  /* position: absolute; */
  display: none;
  width: 400px;
  padding: 20px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  top: 80px;
  right: 10px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  z-index: 13242;
  position: absolute;
}
.allnotifications.none {
  display: flex;
}
.dav2 {
  background-color: transparent;
}
.allnotifications header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 30px;
  background: var(--states-hover, #f1f1f1);
}
.second {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}
.allnotifications hr {
  width: 100%;
  margin-block: 10px;
  border-bottom: 1px solid grey;
}
.allnotifications > div {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}
.allnotifications > div:hover{
  cursor: pointer;
  color: rgb(162, 161, 161);
}
/* Responsive sectio  */

@media (max-width: 866px) {
}
@media (max-width: 767px) {
  .notification {
    width: 90%;
  }
  .setupboard {
    width: 90%;
  }
}
@media (max-width: 710px) {
  .davidcoll > p {
    display: none;
  }
}
@media (max-width: 640px) {
  .notification {
    width: 100%;
  }
  .setupboard {
    width: 100%;
  }
}
@media (max-width: 566px) {
  .setupboard {
    width: 100%;
  }
  .subinner > img {
    display: none;
  }
  #navbar {
    gap: 15px;
  }
  div.logo {
    background-image: url("https://crushingit.tech/hackathon-assets/shopify-icon.svg");
    background-size: contain;
    width: 30px;
  }
}
@media (max-width: 566px) {
  .innerbox article {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .notification {
    width: 100%;
  }
}
@media (max-width: 450px) {
}
